.container{
	margin-top: 80px;
}

li, ul{
	list-style: none;
	padding-left: 0;
}
.main-lastPayments li{
	padding-bottom: 10px;
}
.main-lastPayments li span{
	padding-left: 3px;
}
.main-addPayment div{
	padding-bottom: 10px;
}